<div class="row" *ngIf="editedObject">
  <div class="col-6 offset-3">
    <form #userForm="ngForm" (ngSubmit)="onSend(editedObject)">
      <input type="hidden" name="id" [(ngModel)]="editedObject.id">
      <div class="form-group">
        <label for="i1ID">name</label>
        <input id="i1ID" class="form-control" type="text" name="name" [(ngModel)]="editedObject.name" required>
      </div>
      <div class="form-group">
        <label for="i2ID">type</label>
        <input id="i2ID" class="form-control" type="text" name="type" [(ngModel)]="editedObject.type" pattern="^([A-Űa-ű]){5,}.*$" required>
      </div>
      <div class="form-group">
        <label for="i3ID">catID</label>
        <input id="i3ID" class="form-control" type="number" name="catID" [(ngModel)]="editedObject.catID" required>
      </div>
      <div class="form-group">
        <label for="i4ID">description</label>
        <input id="i4ID" class="form-control" type="text" name="description" [(ngModel)]="editedObject.description" pattern="^([A-Űa-ű]){2,}.*$" required>
      </div>
      <div class="form-group">
        <label for="i5ID">price</label>
        <input id="i5ID" class="form-control" type="number" name="price" [(ngModel)]="editedObject.price" required>
      </div>
      <div class="form-group">
        <input id="i6ID" class="form-check-input" type="checkbox" name="featured" [(ngModel)]="editedObject.featured">
        <label for="i6ID" class="form-check-label">featured</label>
      </div>
      <div class="form-group">
        <input id="i7ID" class="form-check-input" type="checkbox" name="active" [(ngModel)]="editedObject.active">
        <label for="i7ID" class="form-check-label">active</label>
      </div>
      <button [disabled]="!userForm.valid" type="submit" class="btn btn-success"> <i class="fa fa-save"></i>  Save</button>
    </form>
  </div>
</div>
