<div class="row" *ngIf="editedObject">
  <div class="col-6 offset-3">
    <form #userForm="ngForm" (ngSubmit)="onSend(editedObject)">
      <input type="hidden" name="id" [(ngModel)]="editedObject.id">
      <div class="form-group">
        <label for="i1ID">firstName</label>
        <input id="i1ID" class="form-control" type="text" name="firstName" [(ngModel)]="editedObject.firstName" pattern="^([A-Űa-ű]){2,}.*$" required>
      </div>
      <div class="form-group">
        <label for="i2ID">lastName</label>
        <input id="i2ID" class="form-control" type="text" name="lastName" [(ngModel)]="editedObject.lastName" pattern="^([A-Űa-ű]){2,}.*$" required>
      </div>
      <div class="form-group">
        <label for="i3ID">email</label>
        <input id="i3ID" class="form-control" type="email" name="email" [(ngModel)]="editedObject.email" [pattern]="REGEXP_EMAIL_VALIDATOR" required>
      </div>
      <div class="form-group">
        <input id="i4ID" class="form-check-input" type="checkbox" name="active" [(ngModel)]="editedObject.active">
        <label for="i4ID" class="form-check-label">active</label>
      </div>

      <input type="hidden" name="address_id" [(ngModel)]="editedObject.address.id">
      <div class="form-group">
        <label for="_i1ID">zip</label>
        <input id="_i1ID" class="form-control" type="number" name="zip" [(ngModel)]="editedObject.address.zip" required>
      </div>
      <div class="form-group">
        <label for="_i2ID">city</label>
        <input id="_i2ID" class="form-control" type="text" name="city" [(ngModel)]="editedObject.address.city" pattern="^([A-Űa-ű]){2,}.*$" required>
      </div>
      <div class="form-group">
        <label for="_i3ID">country</label>
        <input id="_i3ID" class="form-control" type="text" name="country" [(ngModel)]="editedObject.address.country" pattern="^([A-Űa-ű]){2,}.*$" required>
      </div>
      <div class="form-group">
        <label for="_i4ID">street</label>
        <input id="_i4ID" class="form-control" type="text" name="street" [(ngModel)]="editedObject.address.street" pattern="^([A-Űa-ű]){2,}.*$" required>
      </div>
      <div class="form-group">
        <label for="_i5ID">notes</label>
        <input id="_i5ID" class="form-control" type="text" name="notes" [(ngModel)]="editedObject.address.notes" pattern="^([A-Űa-ű]){1,}.*$" required>
      </div>

      <button [disabled]="!userForm.valid" type="submit" class="btn btn-success"> <i class="fa fa-save"></i>  Save</button>
    </form>
  </div>
</div>
